@import "tailwindcss";
@import "@fundraising/white-labeling/css";
@source "../../../packages/white-labeling/src";

@layer base {

    html,
    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}